<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../../vendor/autoload.php">
  <testsuites>
    <testsuite name="tests">
      <directory>../../../library/tiqr/tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
  </logging>
  <filter>
    <whitelist>
      <directory>../../../library/tiqr</directory>
      <exclude>
        <directory>../../../library/tiqr/tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
